.Gambar_Utama{
    float: left;
    width: 10%;
    height: 10%;
    margin-top: 5px;
}
#Pencari{
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    height: 25px;
}

#Tombol_Pencari{
    float: left;
    margin-top: 5px;
    margin-left: 5px;
    width: 50px;
    height: 30px;
    background-color:   #38b6ff;
    border-radius: 5px;
    border: 0px;
}

#Tombol_Pencari img{
    margin-top: 2px;
    width: 20px;
    height: 20px;
}

.Login_Link{
    float: right;
    margin-right: 20px;
    text-decoration: none;
    color: #38b6ff; 
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    border: 2px solid #38b6ff;
    border-color: #38b6ff;
}

.Change{
    margin-right: 20px;
    text-decoration: none;
    color: #38b6ff; 
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    border: 2px solid #38b6ff;
    border-color: #38b6ff;
}

.Regis_Link{
    float: right;
    margin-right: 20px;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 10px 15px 10px;
    color: white;
    background-color: #38b6ff;
}

.Update{
    
    margin-right: 20px;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 10px 15px 10px;
    color: white;
    background-color: #38b6ff;
}